.vscode/**
./typings/**
out/test/**
test/**
**/*.ts
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
dist/**
tmp/**
build/**
cache/**
bower_components/**
.sass-cache/**
connect.lock/**
coverage/*/**
libpeerconnection.log
node_modules/typescript/**
node_modules/tslint/**
!resources/typings/**/*